body {
	background: rgba(0, 155, 245, 0.87);
	text-align: center;
	color: white;
	padding: 14px 0;
	-moz-user-select:none;
	-webkit-user-select:none;
}
#list {
	width: 690px;
	margin: 0 auto;
}
.goods {
	cursor: pointer;
	height: 180px;
	width: 150px;
	border: 3px dashed white;
	margin: 8px;
	float: left;
	position: relative;
	display: none;
}
.goods img {
	height: 150px;
	width: 150px;
}
.goods span {
	padding: 10px 5px;
}
.header {
	height: 25px;
	padding: 25px;
}
#loading {
	border: none;
	width: 66px;
	height: 66px;
	margin: 50px auto;
}
.header sup {
	padding: 0 4px;
	border: 1px solid white;
	border-radius: 9px;
	background: white;
	color: rgba(0, 155, 245, 0.87);
}
.header a {
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	color: white;
	margin: 5px;
	padding: 8px;
	border: 1px solid white;
	background: rgba(0, 155, 245, 0.87);
	position: relative;
	-webkit-transition:background 0.5s;
	-moz-transition:background 0.5s;
	-o-transition:background 0.5s;
	transition:background 0.5s
}
.header a :hover {
	background: white;
	-webkit-transition:background 0.5s;
	-moz-transition:background 0.5s;
	-o-transition:background 0.5s;
	transition:background 0.5s
}
#xiyilan {
	display: none;
}
#zongjia {
	cursor: default;
	color: rgba(0, 155, 245, 0.87);
	background: white;
}
#lanziTable {
	margin: 0 auto;
	font-size: 24px;
}
#lanziTable span {
	padding-left: 10px;
}
#lanziTable .header {
	margin: 5px;
	padding: 10px;
}
#lanziTable .shumu {
	font-size: 28px;
	text-decoration: underline;
}
#lanziTable img {
	width: 100px;
	height: 100px;
	border: 3px dashed white;
}
#jiesuanDiv {
	margin: 0 auto;
	font-size: 24px;
	display: none;
	width: 260px;
}
#jiesuanList span {
	cursor: pointer;
	font-size: 18px;
	margin: 5px;
	padding: 5px;
}
#zhifu {
	margin: 10px 0;
}
#shijian {
	margin: 10px 0;
}
input {
	width: 200px;
	padding: 8px;
	margin: 10px 0;
	border: 0;
	font-size: 18px;
}
.tishi {
	font-size: 20px;
	display: none;
	text-decoration: underline;
	overflow:hidden;
}
#shijian {
	margin: 0px;
	font-size: 18px;
	height: 50px;
}

b.triangle {
	display: inline-block;
	margin-left: 8px;
	border-style: solid;
	border-width: 12px 8px 0 8px;
	border-color: white transparent transparent transparent;
}
li {
	cursor: pointer;
}
#riqilist {
	position: absolute;
	list-style: none;
	margin: 5px 0px 0px 10px;
	padding: 0 0 0 0px;
	width: 90px;
	border: 1px solid white;
	z-index: 1;
	background: rgba(0, 155, 245, 0.78);
}
#timelist {
	position: absolute;
	list-style: none;
	margin: 5px 0px 0px 115px;
	padding: 0 0 0 0;
	width: 135px;
	border: 1px solid white;
	z-index: 1;
	background: rgba(0, 155, 245, 0.78);
}
ul.droplist .container li:hover {
	border: 1px dashed white;
}
ul.droplist li {
	border: 1px solid transparent;
	padding: 3px;
}
.container {
	position: relative;
	display: none;
	max-height: 200px;
	overflow: auto;
}
#dangmian {
	border: 2px dashed white;
}