body {
	background: rgba(0, 155, 245, 0.87);
	text-align: center;
	color: white;
	padding: 14px 0;
}
.list {
	width: 690px;
	margin: 0 auto;
}
.goods {
	cursor: pointer;
	height: 195px;
	width: 150px;
	border: 3px dashed white;
	margin: 8px;
	float: left;
	position: relative;
}
.goods img {
	height: 150px;
	width: 150px;
}
.goods p {
	margin: 8px;
}
.header {
	height: 25px;
	padding: 25px;
}
.header sup {
	padding: 0 4px;
	border: 1px solid white;
	border-radius: 9px;
	background: white;
	color: rgba(0, 155, 245, 0.87);
}
.header a {
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	color: white;
	margin: 5px;
	padding: 8px;
	border: 1px solid white;
	background: rgba(0, 155, 245, 0.87);
	position:relative;
	-webkit-transition:background 0.5s;
	-moz-transition:background 0.5s;
	-o-transition:background 0.5s;
	transition:background 0.5s
}
.header a :hover {
	background: white;
	-webkit-transition:background 0.5s;
	-moz-transition:background 0.5s;
	-o-transition:background 0.5s;
	transition:background 0.5s
}