<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'/>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
	<title></title>
</head>
<body>
    <button onclick="window.location.href='/back/orders'">订单</button>
    <ul>
        {% for advice in advices %}
            <li><span class="time">{{ advice.time }}</span> --- {{ advice.content }}</li>
        {% endfor %}
    </ul>
	<script type="text/javascript">
		$(document).ready(function() {
	        var list = $(".time").first();
	        while(list.length > 0) {
	            var date = new Date(parseInt(list.text().trim()+"000"));
	            Y = date.getFullYear() + '-';
	            M = (date.getMonth()+1 < 10 ? (date.getMonth()+1) : date.getMonth()+1) + '-';
	            D = date.getDate() + ' ';
	            h = date.getHours() + ':';
	            m = date.getMinutes() + ':';
	            s = date.getSeconds();
	            list.text(Y+M+D+h+m+s);
	            list = list.next();
	        }
		});
	</script>
</body>
</html>