<!DOCTYPE HTML>
<html>

<head>
	<meta charset='utf-8'/>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
</head>

<body>
	
	<table border="1">
    <tr>
		<th>List detail</th>
		<th>Comment</th>
        <th>Phone No.</th>
		<th>Order Time</th>
        <th>Address</th>
        <th>Order State</th>
    </tr>
    <tr>
        <td><button>Sort</button></td>
        <td><button>Sort</button></td>
        <td><button>Sort</button></td>
        <td><button>Sort</button></td>
        <td><button onclick="AddrSort()">Sort</button></td>
        <td><button>Sort</button></td>
    </tr>
    <tr>
        {% for order in orders %}
        <td>
	        {{ order.list }}
	    </td>
        <td>
            {{order.comment}}
        </td>
        <td>
	        {{ order.contact }}
        </td>
    	<td>
	        {{ order.time }}
	    </td>
        <td>
            {{ order.addr }}
        </td>
        <td>
	        {% if order.state == 0 %}
            <button class="reBtn" onclick="updateOrder({{ order.time }},1)">Receive<button>
    	    {% else %}
                {% if order.state == 1 %}
                <button class="reBtn" onclick="updateOrder({{ order.time }},2)">Send</button>
                {% endif %}
                {% endif %}
        </td>
    	</tr>
        {% endfor %}
	</table>
</body>
<script>
	function updateOrder(time, state) {
		$.post("{{ url_for('updateOrder') }}", {time: time, state: state}, function() {window.location.href = '';});
	}
    function AddrSort(){

    }
</script>
</html>